<h3>About Me</h3>

<p>Justin Liu is a fourth year student at UC San Diego pursuing degrees in Computer Engineering and Mathematics </p>

<div class="navbar-text">
<a href="https://www.facebook.com/justinx.liu.9"><i class="fa fa-facebook-square fa-2x"></i></a>
<a href="https://www.google.com/+JustinLiux"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="https://www.linkedin.com/pub/xiaoyu-justin-liu/5b/bb6/6"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a href="https://github.com/JustinXLiu"><i class="fa fa-github-square fa-2x"></i></a>

</div>
