<h3>About Me</h3>
<br></br>
<img src="justin.JPG" style="width:100%;height:100%">
<br></br>
<p>I will be finishing up my undergraduate study at UC San Diego in December, 2015 with majors in Computer Engineering and Applied Mathematics</p>
<p>Have a look around and please don’t hesitate to <a href="mailto:xjustinliu@gmail.com?subject=Hello">contact me</a> with any comments, questions, or just to say hello! </p>

<div class="navbar-text">
<a href="https://www.facebook.com/justinx.liu.9"><i class="fa fa-facebook-square fa-2x"></i></a>
<a href="https://www.google.com/+JustinLiux"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="https://www.linkedin.com/pub/xiaoyu-justin-liu/5b/bb6/6"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a href="https://github.com/JustinXLiu"><i class="fa fa-github-square fa-2x"></i></a>

</div>
